In [40]:
# Data Cleaning and Preprocessing Tool

In [41]:
import pandas as pd
import numpy as np
from scipy import stats

In [42]:
#1. Loading the Coffee_Sales Dataset

In [43]:
df = pd.read_csv("Coffe_Sales.csv") #Loading the dataset
print("Dataset Shape:", df.shape) #Checking the shape of the dataset

Dataset Shape: (3547, 11)

In [44]:
df #First 5 and last 5 rows of the dataset

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.70,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000
3,13,card,28.90,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000
4,13,card,38.70,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000
...,...,...,...,...,...,...,...,...,...,...,...
3542,10,card,35.76,Cappuccino,Morning,Sun,Mar,7,3,2025-03-23,10:34:54.894000
3543,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:43:37.362000
3544,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:44:16.864000
3545,15,card,25.96,Americano,Afternoon,Sun,Mar,7,3,2025-03-23,15:47:28.723000
3546,18,card,35.76,Latte,Night,Sun,Mar,7,3,2025-03-23,18:11:38.635000

In [45]:
#2. Handling Missing Values of the dataset

In [46]:
print(df.isnull().sum()) #Checking for missing values

hour_of_day    0
cash_type      0
money          0
coffee_name    0
Time_of_Day    0
Weekday        0
Month_name     0
Weekdaysort    0
Monthsort      0
Date           0
Time           0
dtype: int64

In [47]:
#Filling the missing values
for col in df.columns:
    if df[col].dtype in ["int64", "float64"]:
        df[col].fillna(df[col].median(), inplace=True)
    else:
        df[col].fillna(df[col].mode()[0], inplace=True)
print("Missing values handled.")

Missing values handled.

C:\Users\sidha\AppData\Local\Temp\ipykernel_24384\1055105710.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\sidha\AppData\Local\Temp\ipykernel_24384\1055105710.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [48]:
# 3. Remove Duplicates

In [49]:
before_rows = df.shape[0]
df.drop_duplicates(inplace=True)
after_rows = df.shape[0]
print(f"Removed {before_rows - after_rows} duplicate rows.")

Removed 0 duplicate rows.

In [50]:
# 4. Outlier Detection (Z-score)

In [51]:
numeric_cols = df.select_dtypes(include=[np.number]).columns

if not numeric_cols.empty:
    z_scores = np.abs(stats.zscore(df[numeric_cols]))
    df = df[(z_scores < 3).all(axis=1)]
    print("\nOutliers handled using Z-score.")
else:
    print("\nNo numeric columns found for outlier detection.")

Outliers handled using Z-score.

In [52]:
# 5. Save Cleaned Dataset

In [53]:
df.to_csv("Coffe_sales_cleaned.csv", index=False)

print("\nFinal Dataset Shape:", df.shape)
print("Cleaned dataset saved as 'Coffe_sales_cleaned.csv'.")

Final Dataset Shape: (3547, 11)
Cleaned dataset saved as 'Coffe_sales_cleaned.csv'.

In [55]:
cleaned_df = pd.read_csv("Coffe_sales_cleaned.csv")
print("Dataset Shape:", cleaned_df.shape)
print("First 5 and last 5 rows of the cleaned dataset:")
print(cleaned_df.head())
print(cleaned_df.tail())

Dataset Shape: (3547, 11)
First 5 and last 5 rows of the cleaned dataset:
   hour_of_day cash_type  money    coffee_name Time_of_Day Weekday Month_name  \
0           10      card   38.7          Latte     Morning     Fri        Mar
1           12      card   38.7  Hot Chocolate   Afternoon     Fri        Mar
2           12      card   38.7  Hot Chocolate   Afternoon     Fri        Mar
3           13      card   28.9      Americano   Afternoon     Fri        Mar
4           13      card   38.7          Latte   Afternoon     Fri        Mar

   Weekdaysort  Monthsort        Date             Time
0            5          3  2024-03-01  10:15:50.520000
1            5          3  2024-03-01  12:19:22.539000
2            5          3  2024-03-01  12:20:18.089000
3            5          3  2024-03-01  13:46:33.006000
4            5          3  2024-03-01  13:48:14.626000
      hour_of_day cash_type  money coffee_name Time_of_Day Weekday Month_name  \
3542           10      card  35.76  Cappuccino     Morning     Sun        Mar
3543           14      card  35.76       Cocoa   Afternoon     Sun        Mar
3544           14      card  35.76       Cocoa   Afternoon     Sun        Mar
3545           15      card  25.96   Americano   Afternoon     Sun        Mar
3546           18      card  35.76       Latte       Night     Sun        Mar

      Weekdaysort  Monthsort        Date             Time
3542            7          3  2025-03-23  10:34:54.894000
3543            7          3  2025-03-23  14:43:37.362000
3544            7          3  2025-03-23  14:44:16.864000
3545            7          3  2025-03-23  15:47:28.723000
3546            7          3  2025-03-23  18:11:38.635000

In [56]:
print("\nMissing Values After Cleaning:")
print(cleaned_df.isnull().sum())

Missing Values After Cleaning:
hour_of_day    0
cash_type      0
money          0
coffee_name    0
Time_of_Day    0
Weekday        0
Month_name     0
Weekdaysort    0
Monthsort      0
Date           0
Time           0
dtype: int64

In [62]:
print("\nNumber of Duplicates After Cleaning:")
print(cleaned_df.duplicated().sum())

Number of Duplicates After Cleaning:
0

In [58]:
print("Original shape:", df.shape)
print("Cleaned shape:", cleaned_df.shape)

Original shape: (3547, 11)
Cleaned shape: (3547, 11)